

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #f3f4f6;
  background-image: url('/src/assets/saf1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}


/* ===== GLOBAL APP LOADER ===== */
.app-loader {
  position: fixed;
  inset: 0;
  background: #ffffff;
  z-index: 99999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

/* SPINNER */
.spinner {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 4px solid #e5e7eb;
  border-top-color: #16a34a;

  animation: spin 0.8s linear infinite;
}

/* TEXT */
.app-loader p {
  font-size: 13px;
  font-weight: 600;
  color: #16823a;
}

/* SPIN */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}